
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        var timer;
        var timer1;
        var timer2;

        $(document).ready(function () {
            $('li[class="active"]').removeClass();
            $('#menuhome').attr('class', 'active');

            refreshCounttreenode();
            refreshCounttree();
            refreshCountuser();
            timer = setInterval(refreshCounttreenode, 5000);
            timer1 = setInterval(refreshCounttree, 5000);
            timer2 = setInterval(refreshCountuser, 5000);

        });
        function clickLink(element) {
            $('li[class="active"]').removeClass();
            $(element).parent().attr('class', 'active');
        }

        function refreshCounttreenode() {
            $.ajax({
                url: '/api/Statistics/GetCountTreeNodes',
                method: 'GET',
                success: function (data) {
                    $('#counttrrenode').html(data);
                }
            });
        }

        function refreshCounttree() {
            $.ajax({
                url: '/api/Statistics/GetCountTree',
                method: 'GET',
                success: function (data) {
                    $('#counttrre').html(data);
                }
            });
        }

        function refreshCountuser() {
            $.ajax({
                url: '/api/Statistics/GetCountUser',
                method: 'GET',
                success: function (data) {
                    $('#countusers').html(data);
                }
            });
        }
    </script>
}

<div class="container" style="min-width:80%;">
    <div id="divmenu" class="row" style="background-color: lightgray;min-height:150px;border-radius: 50px 50px 0px 0px;">
        <div class="row" style="min-height:55px;"></div>
        <ul class="nav nav-pills nav-justified">
            <li id="menuhome" class=""><a href="/Home/Home" onclick="clickLink(this)" data-tag="76">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(76, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a></li>
            <li id="menutree" class=""><a href="/Home/MyTree" onclick="clickLink(this)" data-tag="77">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(77, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tree-deciduous"></span></a></li>
            <li id="menustatistics" class=""><a href="/Home/Statistics" onclick="clickLink(this)" data-tag="78">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(78, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-signal"></span></a></li>
            <li id="menuevents" class=""><a href="/Home/ExchangeTrees" onclick="clickLink(this)" data-tag="79">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(79, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer"></span></a></li>
            <li id="menupictures" class=""><a href="/Home/Photos" onclick="clickLink(this)" data-tag="80">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(80, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
            <li id="menusettings" class=""><a href="/MyAccount/Settings" data-tag="26" onclick="clickLink(this)">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(26, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <div class="row" style="min-height:50px;"></div>
    </div>
    <br /><br />
    <div class="jumbotron">
        <h1 style="text-align:center;width:100%;" data-tag="81">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(81, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h1>
        <p style="text-align:center;" data-tag="82">
            @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(82, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)
        </p>
    </div>
    <br /><br />
    <div class="row" style="margin-left:5%;margin-right:5%;">
        <div style="border:1px solid white;border-radius: 9px;background-color:#428bca">
            <h1 id="counttrrenode" style="text-align:center;color:white;"></h1>
            <h4 style="text-align:center;color:white;" data-tag="83">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(83, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h4>
        </div>
        <div style="border:1px solid white;border-radius: 9px;background-color:#428bca;float:left;width:60%;">
            <h1 id="counttrre" style="text-align:center;color:white;">22</h1>
            <h4 style="text-align:center;color:white;" data-tag="84">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(84, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h4>
        </div>
        <div style="border:1px solid white;border-radius: 9px;background-color:#428bca;float:left;width:40%;">
            <h1 id="countusers" style="text-align:center;color:white;">22 222 22</h1>
            <h4 style="text-align:center;color:white;" data-tag="85">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(85, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h4>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>