
@{
    ViewBag.Title = "SettingsSharingAgreementSended";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    @Styles.Render("~/Styles/agreementsendedstyles")
    <script type="text/javascript">
        var searchtypemodalsend = '2'; //typ wyszukiwania 1 -> # , 2 -> name
        var searchtypemodalhistory = '2' // ^ j.w
        var userid;
        var languageid;
        var timer;
        var texts = ["OK", "Error"];

        $(document).ready(function () {
            userid = '@Request.RequestContext.HttpContext.Session["LoggedUserID"]';
            languageid = '@Request.RequestContext.HttpContext.Session["LanguageID"]';


            //pobieranie napisów - do snackbara (powodzenie,niepowodzenie wysyłania zgody)
            $.ajax({
                url: '/api/Language/getElementTextInLanguage/' + 163,
                headers: {
                    'languageID': languageid
                },
                method: 'GET',
                success: function (data) {
                    texts[0] = data; //powodzenie
                }
            });

            $.ajax({
                url: '/api/Language/getElementTextInLanguage/' + 164,
                headers: {
                    'languageID': languageid
                },
                method: 'GET',
                success: function (data) {
                    texts[1] = data;
                }
            });
        });

        function closeCancelModalAgreementSend()
        {
            $("#modal_AgreementSend").modal("hide");
        }

        function closeCancelModalAgreementHistory()
        {
            $("#modal_AgreementHistory").modal("hide");
        }

        function openmodalagreementsend()
        {
            searchtypemodalsend = 2;
            $("#modal_AgreementSend").modal("show");
        }

        function openmodalagreementhistory()
        {
            searchtypemodalhistory = 2;
            $("#modal_AgreementHistory").modal("show");
        }

        function onkeyupsearchmodalsend(element)
        {
            if (searchtypemodalsend == '1') //wyszukiwanie po id
            {
                $('#usertable tbody').children().each(function (index, element) {
                    var id = $(element).children('.idcellmodalsend').first().html();
                    if ($("#searchinginputmodalsend").val() == id)
                        $(element).show();
                    else
                        $(element).hide();
                });
            }
            else // wyszukiwanie po nazwie
            {
                $('#usertable tbody').children().each(function (index, element) {
                    var name = $(element).children('.namecellmodalsend').first().html();
                    if (name.includes($("#searchinginputmodalsend").val())
                        && $("#searchinginputmodalsend").val() != ""
                        && $("#searchinginputmodalsend").val() != " "
                        && $("#searchinginputmodalsend").val().length > 2)
                        $(element).show();
                    else
                        $(element).hide();
                });
            }
        }

        function onkeyupsearchmodalhistory(element)
        {
            if (searchtypemodalhistory == '1') //wyszukiwanie po id
            {
                $('#tbodyagreementshistory').children().each(function (index, element) {
                    var id = $(element).children('.cellagreementid').first().html();
                    if ($("#searchinginputmodalhistory").val() == id)
                        $(element).show();
                    else
                        $(element).hide();
                });
            }
            else // wyszukiwanie po nazwie
            {
                $('#tbodyagreementshistory').children().each(function (index, element) {
                    var name = $(element).children('.cellnamesurname').first().html();
                    if (name.includes($("#searchinginputmodalhistory").val())
                        && $("#searchinginputmodalhistory").val() != ""
                        && $("#searchinginputmodalhistory").val() != " "
                        && $("#searchinginputmodalhistory").val().length > 2)
                        $(element).show();
                    else
                        $(element).hide();
                });
            }
        }

        function changesearchtypemodalsend(element, type)
        {
            if (type == '1') //po id
            {
                searchtypemodalsend = 1;
                $(element).css("background-color", "lightgray");
                $("#nameheadermodalsend").css("background-color", "white");
            }
            else
            {
                searchtypemodalsend = 2;
                $(element).css("background-color", "lightgray");
                $("#idheadermodalsend").css("background-color", "white");
            }
        }

        function changesearchtypemodalhistory(element, type)
        {
            if (type == '1') //po id
            {
                searchtypemodalhistory = 1;
                $(element).css("background-color", "lightgray");
                $("#nameheadermodalhistory").css("background-color", "white");
            }
            else {
                searchtypemodalhistory = 2;
                $(element).css("background-color", "lightgray");
                $("#idheadermodalhistory").css("background-color", "white");
            }
        }

        function sendagreement(receiverid,element)
        {
            $.ajax({
                url: '/api/Agreement/SendAgreement/',
                headers: {
                    'receiverid': receiverid,
                    'senderid': userid
                },
                method: 'POST',
                success: function (data) {
                    if (data == 0) //dodawanie zgody bez błędu
                    {
                        $(element).parent().parent().remove();

                        $("#snackbar").html(texts[0]);//powiodło się
                        $("#snackbar").css('background-color', 'green');
                        $("#snackbar").attr('class', 'show');
                        timer = setTimeout(hidesnackbar, 2000);

                        $.ajax({
                            url: '/api/Agreement/getTableSendedgreementWaiting/',
                            headers: {
                                'senderid': userid,
                                'languageid': languageid,
                                'count': 10,
                                'trhidden': false,
                                'joinnamesurname': false
                            },
                            method: 'POST',
                            success: function (data) {
                                $("#tablesendedagreementwaiting").html(data);
                            }
                        });
                    }
                    else
                    {
                        $("#snackbar").html(texts[1]);//błąd
                        $("#snackbar").css('background-color', 'red');
                        $("#snackbar").attr('class', 'show');
                        timer = setTimeout(hidesnackbar, 2000);
                    }
                }
            });
        }

        function hidesnackbar()
        {
            $("#snackbar").attr('class', '');
            clearTimeout(timer);
        }
    </script>
}

<div class="container" style="min-width:80%;">
    <div id="divmenu" class="row" style="background-color: lightgray;min-height:150px;border-radius: 50px 50px 0px 0px;">
        <div class="row" style="min-height:55px;"></div>
        <ul class="nav nav-pills nav-justified">
            <li id="menuhome" class=""><a href="/Home/Home" onclick="clickLink(this)" data-tag="76">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(76, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a></li>
            <li id="menutree" class=""><a href="/Home/MyTree" onclick="clickLink(this)" data-tag="77">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(77, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tree-deciduous"></span></a></li>
            <li id="menustatistics" class=""><a href="/Home/StatisticsBornMonth" onclick="clickLink(this)" data-tag="78">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(78, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-signal"></span></a></li>
            <li id="menuevents" class=""><a href="/Home/ExchangeTrees" onclick="clickLink(this)" data-tag="79">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(79, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer"></span></a></li>
            <li id="menupictures" class=""><a href="/Home/Photos" onclick="clickLink(this)" data-tag="80">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(80, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
            <li id="menusettings" class="active"><a href="/MyAccount/Settings" data-tag="26" onclick="clickLink(this)">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(26, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <div class="row" style="min-height:50px;"></div>
    </div>
    <br />

    <div class="col-md-2" style="margin-left:-1%;border:1px solid lightgray;border-radius: 0px 0px 20px 20px;background-color:lightgray;min-height:250px;">
        <h3 data-tag="125" style="text-align:center;color:#428bca;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(125, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/MyAccount/Settings" data-tag="126">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(126, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a href="/MyAccount/SettingsSharing" data-tag="127">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(127, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a id="agreementsreceived" href="/MyAccount/SettingsSharingAgreementReceived" data-tag="133">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(133, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li class="active"><a id="agreementssended" href="/MyAccount/SettingsSharingAgreementSended" data-tag="135">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(135, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #428bca;border-radius: 5px;text-align:center;border:1px solid white;">
                <h2 data-tag="136"><span style="color:white;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(136, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</span></h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <br /><br/>

        <table class="table table-hover" align="center" style="width:90%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-tag="148">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(148, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    <th data-tag="149">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(149, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    <th style="text-align:center;" data-tag="151">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(151, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                </tr>
            </thead>
            @Html.Raw(ViewBag.sharingtometable)
        </table>
        <br/><br/><br/>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:lightgray;text-align:center;" data-tag="145">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(145, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</div>
            <div class="panel-body">
                <p data-tag="146">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(146, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</p>
                <button class="btn btn-default" data-tag="147" onclick="openmodalagreementsend()">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(147, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</button>
                <button class="btn btn-default" data-tag="165" onclick="openmodalagreementhistory()">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(165, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</button>
            </div>
            <table class="table table-hover" align="center" style="width:90%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-tag="148">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(148, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                        <th data-tag="149">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(149, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                        <th style="text-align:center;" data-tag="150">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(150, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    </tr>
                </thead>
                <tbody id="tablesendedagreementwaiting">
                    @Html.Raw(@ViewBag.sharingtomewaitingtable)
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Okno wybranie odbiorcy zgody*@
<div id="modal_AgreementSend" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCancelModalAgreementSend()">&times;</button>
                <h4 class="modal-title" data-tag="156">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(156, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="searchinginputmodalsend" class="searchinginputmodal" onkeyup="onkeyupsearchmodalsend(this)" data-tag="158" placeholder="@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(158, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <table id="usertable" class="table table-hover" style="margin-left:10%;width:80%;">
                        <thead>
                            <tr>
                                <th id="idheadermodalsend" style="background-color:white;cursor:pointer;" onclick="changesearchtypemodalsend(this,1)">#</th>
                                <th id="nameheadermodalsend" style="background-color:lightgray;cursor:pointer;" onclick="changesearchtypemodalsend(this,2)" data-tag="159">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(159, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                                <th style="text-align:center;" data-tag="160">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(160, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                            </tr>
                        </thead>
                        @Html.Raw(@ViewBag.userlisttable)
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-tag="162" onclick="closeCancelModalAgreementSend()">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(162, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</button>
            </div>
        </div>

    </div>
</div>

@*Okno historia zgód sended*@
<div id="modal_AgreementHistory" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCancelModalAgreementHistory()">&times;</button>
                <h4 class="modal-title" data-tag="166">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(166, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="searchinginputmodalhistory" class="searchinginputmodal" onkeyup="onkeyupsearchmodalhistory(this)" data-tag="167" placeholder="@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(167, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <table id="agreementshistorytable" class="table table-hover" style="margin-left:10%;width:80%;">
                        <thead>
                            <tr>
                                <th id="idheadermodalhistory" style="background-color:white;cursor:pointer;" onclick="changesearchtypemodalhistory(this,1)">#</th>
                                <th id="nameheadermodalhistory" style="background-color:lightgray;cursor:pointer;" onclick="changesearchtypemodalhistory(this,2)" data-tag="168">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(168, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                                <th style="text-align:center;" data-tag="169">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(169, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyagreementshistory">
                            @Html.Raw(@ViewBag.agreementshistory)
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-tag="170" onclick="closeCancelModalAgreementHistory()">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(170, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</button>
            </div>
        </div>

    </div>
</div>


<!-- snackbar-->
<div id="snackbar"></div>
