
@{
    ViewBag.Title = "SettingsSharingAgreementReceived";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-width:80%;">
    <div id="divmenu" class="row" style="background-color: lightgray;min-height:150px;border-radius: 50px 50px 0px 0px;">
        <div class="row" style="min-height:55px;"></div>
        <ul class="nav nav-pills nav-justified">
            <li id="menuhome" class=""><a href="/Home/Home" onclick="clickLink(this)" data-tag="76">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(76, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a></li>
            <li id="menutree" class=""><a href="/Home/MyTree" onclick="clickLink(this)" data-tag="77">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(77, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tree-deciduous"></span></a></li>
            <li id="menustatistics" class=""><a href="/Home/Statistics" onclick="clickLink(this)" data-tag="78">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(78, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-signal"></span></a></li>
            <li id="menuevents" class=""><a href="/Home/Events" onclick="clickLink(this)" data-tag="79">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(79, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span></a></li>
            <li id="menupictures" class=""><a href="/Home/Photos" onclick="clickLink(this)" data-tag="80">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(80, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
            <li id="menusettings" class="active"><a href="/MyAccount/Settings" data-tag="26" onclick="clickLink(this)">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(26, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <div class="row" style="min-height:50px;"></div>
    </div>
    <br />

    <div class="col-md-2" style="margin-left:-1%;border:1px solid lightgray;border-radius: 0px 0px 20px 20px;background-color:lightgray;min-height:250px;">
        <h3 data-tag="125" style="text-align:center;color:#428bca;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(125, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/MyAccount/Settings" data-tag="126">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(126, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a href="/MyAccount/SettingsSharing" data-tag="127">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(127, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li class="active"><a id="agreementsreceived" href="/MyAccount/SettingsSharingAgreementReceived" data-tag="133">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(133, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a id="agreementssended" href="/MyAccount/SettingsSharingAgreementSended" data-tag="135">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(135, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #428bca;border-radius: 5px;text-align:center;border:1px solid white;">
                <h2 data-tag="134"><span style="color:white;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(134, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</span></h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr />
        <br /><br/>
        <table class="table table-hover" align="center" style="width:90%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-tag="148">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(148, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    <th data-tag="149">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(149, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    <th style="text-align:center;" data-tag="151">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(151, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    <th data-tag="152">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(152, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                </tr>
            </thead>
            @Html.Raw(ViewBag.sharingfrommetable)
        </table>

        <br/><br/><br/>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:lightgray;text-align:center;" data-tag="153">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(153, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</div>
            <div class="panel-body">
                <p data-tag="154">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(154, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)<br/>
                   @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(155, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)
                <p>
            </div>
            <table class="table table-hover" align="center" style="width:90%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-tag="148">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(148, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                        <th data-tag="149">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(149, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                        <th></th>
                        <th colspan="2" data-tag="150">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(150, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</th>
                    </tr>
                </thead>
                @Html.Raw(ViewBag.sharingfrommewaitingtable)
            </table>
        </div>
    </div>
</div>

