
@{
    ViewBag.Title = "SettingsSharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
        });

        function radioChanged(element)
        {
            var name = $(element).attr('name') + 'Informator';
            $('circle[name=' + name + ']').attr('fill', 'orange');
        }
    </script>
}

<div class="container" style="min-width:80%;">
    <div id="divmenu" class="row" style="background-color: lightgray;min-height:150px;border-radius: 50px 50px 0px 0px;">
        <div class="row" style="min-height:55px;"></div>
        <ul class="nav nav-pills nav-justified">
            <li id="menuhome" class=""><a href="/Home/Home" onclick="clickLink(this)" data-tag="76">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(76, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span></a></li>
            <li id="menutree" class=""><a href="/Home/MyTree" onclick="clickLink(this)" data-tag="77">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(77, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tree-deciduous"></span></a></li>
            <li id="menustatistics" class=""><a href="/Home/StatisticsBornMonth" onclick="clickLink(this)" data-tag="78">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(78, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-signal"></span></a></li>
            <li id="menuevents" class=""><a href="/Home/ExchangeTrees" onclick="clickLink(this)" data-tag="79">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(79, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-transfer"></span></a></li>
            <li id="menupictures" class=""><a href="/Home/Photos" onclick="clickLink(this)" data-tag="80">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(80, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-picture"></span></a></li>
            <li id="menusettings" class="active"><a href="/MyAccount/Settings" data-tag="26" onclick="clickLink(this)">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(26, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <div class="row" style="min-height:50px;"></div>
    </div>
    <br />

    <div class="col-md-2" style="margin-left:-1%;border:1px solid lightgray;border-radius: 0px 0px 20px 20px;background-color:lightgray;min-height:250px;">
        <h3 data-tag="125" style="text-align:center;color:#428bca;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(125, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/MyAccount/Settings" data-tag="126">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(126, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li class="active"><a href="/MyAccount/SettingsSharing" data-tag="127">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(127, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a id="agreementsreceived" href="/MyAccount/SettingsSharingAgreementReceived" data-tag="133">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(133, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
            <li><a id="agreementssended" href="/MyAccount/SettingsSharingAgreementSended" data-tag="135">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(135, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #428bca;border-radius: 5px;text-align:center;border:1px solid white;">
                <h2 data-tag="128"><span style="color:white;">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(128, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</span></h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <hr/>
        <br/>
        @using (Html.BeginForm("SettingsSharing", "MyAccount", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row" style="margin-left:13%;">
                <div class="col-md-5" style="text-align:center;">
                    <label style="margin-top: 5%" data-tag="129">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(129, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</label>
                </div>
                <div class="col-md-3" style="margin-top:0.5%;">
                    <label class="radio"><input type="radio" name="treesharing" value="1" data-tag="130" onchange="radioChanged(this)" @(ViewBag.sharingtree == 1 ? "checked" : "" )> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(130, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</label>
                    <label class="radio"><input type="radio" name="treesharing" value="2" data-tag="131" onchange="radioChanged(this)" @(ViewBag.sharingtree == 2 ? "checked" : "" )>@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(131, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</label>
                    <label class="radio"><input type="radio" name="treesharing" value="3" data-tag="132" onchange="radioChanged(this)" @(ViewBag.sharingtree == 3 ? "checked" : "" )>@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(132, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</label>
                </div>
                <div class="col-md-3" style="margin-top:3%;">
                    <svg height="32" width="32">
                        <circle name="treesharingInformator" class="informator" cx="16" cy="16" r="10" fill="@ViewBag.treesharingInformator" stroke="black" stroke-width="1px" />
                    </svg>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="text-align:center;">
                    <button class="btn btn-default" type="submit">Zapisz dane</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        }
    </div>
</div>

