@{ 
    var zalogowany = ApplicationMyRoots.Common.ResourceManager.LoggedUser;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title data-tag="7">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(7, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/globalstyles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            var userid = '@Request.RequestContext.HttpContext.Session["LoggedUserID"]';
            if (userid != '')
            {
                $.ajax({
                    url: '/api/User/getUserNewAgreements/',
                    headers: {
                        'userid': userid
                    },
                    method: 'POST',
                    success: function (data) {
                        var sendedrecived = parseInt(data.split('-')[0]) + parseInt(data.split('-')[1])

                        if (sendedrecived > 0)
                            $("#agreements").append('<span id="messagesareementcount" class="badge">' + sendedrecived + '</span>');

                        var truncatedpath = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));

                        if (truncatedpath == '/MyAccount') {
                            $("#agreementsreceived").append(' <span id="messagesareementcountreceived" class="badge">' + data.split('-')[1] + '</span>');
                            $("#agreementssended").append(' <span id="messagesareementcountsended" class="badge">' + data.split('-')[0] + '</span>');
                        }
                    }
                });
            }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-tag="3" href="/Home"><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(3, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a>
                
            </div>
            <div class="navbar-collapse collapse">

                @if(zalogowany == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Login/Registry" data-tag="2"><span class="glyphicon glyphicon-user"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(2, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                        <li><a href="/Login/LogIn" data-tag="1"><span class="glyphicon glyphicon-log-in"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(1, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a id="agreements" href="/MyAccount/SettingsSharingAgreementSended">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </li>
                        <li><a href="#" style="pointer-events:none;" data-tag="4">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(4, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID) <strong>@zalogowany.Name</strong> </a> </li>
                        <li>
                            <a href="#" style="pointer-events:none;margin-left:-40%;margin-top:-2%;">
                                <svg height="22" width="22">
                                    <image id="userProfileImage" xlink:href="@zalogowany.ImageString" x="0" y="0" height="22" width="22" />
                                </svg>
                            </a>
                        </li>
                        <li><a href="/Login/LogOut"><span class="glyphicon glyphicon-log-out" data-tag="5"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(5, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                    </ul>
                    }

</div>
        </div>
    </div>
    <br/>
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
