@{ 
    var zalogowany = ApplicationMyRoots.Common.ResourceManager.LoggedUser;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title data-tag="7">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(7, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(3, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID), "MyTree", "Home", new { area = "" }, new { @class = "navbar-brand", data_tag = "3" })
            </div>
            <div class="navbar-collapse collapse">

                @if(zalogowany == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Login/Registry" data-tag="2"><span class="glyphicon glyphicon-user"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(2, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                        <li><a href="/Login/LogIn" data-tag="1"><span class="glyphicon glyphicon-log-in"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(1, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" style="pointer-events:none;" data-tag="4">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(4, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID) <strong>@zalogowany.Name</strong></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-tag="25">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(25, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/MyAccount/Settings" data-tag="26">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(26, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                            </ul>
                        </li>
                        <li><a href="/Login/LogOut"><span class="glyphicon glyphicon-log-out" data-tag="5"></span> @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(5, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</a></li>
                    </ul>
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p data-tag="6">&copy; @DateTime.Now.Year - @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(6, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
