@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    @Styles.Render("~/Styles/mytreestyle")
    @Scripts.Render("~/bundles/mytreescripts")

}
<br/><br/><br/>
<div class="row">
    <p id="dx"></p>
    <p id="dy"></p>
    <br/><br/>
    <svg id="svg_container" class="svg_container" height="1000" width="100%" style="border:1px gray solid" data-loggeduser="@ViewBag.LoggedUser" data-language="@ViewBag.LanguageID">
        
        <g class="tree" transform="matrix(2 0 0 2 0 0)">
            @*<svg class="tree-elements" id="2" width="240" height="140" x="100" y="50" >*@
            @*<g transform="matrix(1 0 0 1 0 0)">
                <rect class="tree-element-frames" width="200" height="100" x="100" y="50" fill="white" stroke="black" />
                <text class="tree-element-texts" x="200" y="65" font-family="verdana" font-size="12" fill="blue" alignment-baseline="middle" text-anchor="middle">krzysztof</text>
                
                <rect class="addparents" width="180" height="20" x="110" y="30" fill="white" stroke="red" />
                <text class="addparents" x="200" y="40" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj rodziców</text>
            
                <rect class="addpartnerR" width="20" height="80" x="300" y="60" fill="white" stroke="red" />
                <text class="addpartnerR" transform="rotate(90)" x="100" y="-310" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Partnera</text>

                <rect class="addpartnerL" width="20" height="80" x="80" y="60" fill="white" stroke="red" />
                <text class="addpartnerL" transform="rotate(90)" x="100" y="-90" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Partnera</text>

                <rect class="addchildren" width="180" height="20" x="110" y="150" fill="white" stroke="red" />
                <text class="addchildren" x="200" y="160" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Dziecko</text>
            
                <image xlink:href="@ViewBag.ImageData" x="110" y="60" height="50px" width="50px" />
            </g>*@
            @*</svg>*@
        </g>

        <!-- Kontrolka do przewijania -->
        <circle cx="50" cy="50" r="42" fill="white" opacity="0.75"></circle>
        <path class="move-tree" onclick="move(0,50)" d="M50 10 l12 20 a40, 70 0 0, 0 -24, 0z"></path>
        <path class="move-tree" onclick="move(50,0)" d="M10 50 l20 -12 a70, 40 0 0, 0 0, 24z"></path>
        <path class="move-tree" onclick="move(0,-50)" d="M50 90 l12 -20 a40, 70 0 0, 1 -24, 0z"></path>
        <path class="move-tree" onclick="move(-50,0)" d="M90 50 l-20 -12 a70, 40 0 0, 1 0, 24z"></path>

        <!-- Otoczka powiększ/pomniejsz-->
        <circle cx="50" cy="50" r="20" fill="white" stroke="black" stroke-width="1" />

        <!-- Powiększ/pomniejsz-->
        <circle class="zoom-tree" onclick="scale(0.8)" cx="50" cy="40" r="7" fill="white" stroke="black" stroke-width="1"/>
        <circle class="zoom-tree" onclick="scale(1.25)" cx="50" cy="60" r="7" fill="white" stroke="black" stroke-width="1"/>

        <!-- Minus/Plus pomniejszania-->
        <rect class="minus_plus" x="45" y="38.5" width="10" height="3" />

        <rect class="minus_plus" x="45" y="58.5" width="10" height="3" />
        <rect class="minus_plus" x="48.5" y="55" width="3" height="10" />
    </svg>
</div>


<!-- Okno modalne operacja w tle -->
<div id="modal_loading" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:90px;">
        <div class="modal-content" style="margin:10%;">
            <img src="/images/ajax-loader.gif" id="loading-indicator" />
        </div>
    </div>
</div>

